.listItemMeal div {
  color: #ff5d88;
}
.listItemMeal div h3 {
  margin: 0 0 1rem;
}
.listItemMeal div p {
  margin: 0;
}
.listItemMeal div p:first-of-type {
  margin-bottom: 0.5rem;
}
.listItemMeal div .listitemPrice {
  color: #11579b;
}