// color variables
$charcoal: #565f70;
$amber: #ffb74c;
$mint: #7cf3a0;
$fuchsia: #ff5d88;
$green: #01a601;
$blue: #11579b;

.meals {
    background-color: #fff;
    color: #fff;
    padding: 5rem 0;

    .mealsInfo {
        text-align: center;
        padding: 2rem;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.4);
        margin-bottom: 2rem;
        animation: meals-appear 1s ease-out forwards;

        h2 {
            margin: 0 0 2rem 0;
            color: $fuchsia;
            font-size: 3rem;
            font-weight: 700;
            text-shadow: 1.5px 1.5px #fff;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .mealsListContainer {
        padding: 2rem;
        background-color: $amber;
        border-radius: 15px;
        color: #fff;
        margin: auto;
        width: 70%;
        margin: auto;
        animation: meals-appear 1s ease-out forwards;
        animation-delay: 300ms;

        .mealsList {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 1rem;
            flex-direction: column;

            .listItemMeal {
                background-color: #fff;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                gap: 1rem;

                .meal-form {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    width: 85%;
                    margin: auto;

                    label {
                        color: $fuchsia;
                    }

                    input {
                        &:focus-visible {
                            outline: none;
                            background-color: #fcf9f0;
                            border: 1px solid $amber;
                        }
                    }

                    input,
                    button {
                        padding: 0.5rem;
                        border: 1px solid $fuchsia;
                        border-radius: 5px;
                    }

                    button {
                        background-color: $fuchsia;
                        color: #fff;
                    }

                    @media (min-width: 576px) {
                        width: 60%;
                        margin: 0 0 0 auto;
                    }

                    @media (min-width: 1200px) {
                        flex-direction: row;
                        align-items: baseline;
                        margin: 0;
                        width: 100%;
                    }
                }

                p {
                    color: $fuchsia;
                }

                @media (min-width: 576px) {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        @media (min-width: 768px) {
            width: 60%;
        }
        @media (min-width: 992px) {
            width: 50%;
        }

    }
}

@keyframes meals-appear {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
