.meals {
  background-color: #fff;
  color: #fff;
  padding: 5rem 0;
}
.meals .mealsInfo {
  text-align: center;
  padding: 2rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  animation: meals-appear 1s ease-out forwards;
}
.meals .mealsInfo h2 {
  margin: 0 0 2rem 0;
  color: #ff5d88;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1.5px 1.5px #fff;
}
.meals .mealsInfo p {
  font-size: 1.2rem;
}
.meals .mealsListContainer {
  padding: 2rem;
  background-color: #ffb74c;
  border-radius: 15px;
  color: #fff;
  margin: auto;
  width: 60%;
  margin: auto;
  animation: meals-appear 1s ease-out forwards;
  animation-delay: 300ms;
}
.meals .mealsListContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.meals .mealsListContainer ul .listItemMeal {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meals .mealsListContainer ul .listItemMeal .meal-form label {
  margin-right: 10px;
}
.meals .mealsListContainer ul .listItemMeal .meal-form input {
  margin-right: 10px;
}
.meals .mealsListContainer ul .listItemMeal .meal-form input:focus-visible {
  outline: none;
  background-color: #fcf9f0;
  border: 1px solid #ffb74c;
}
.meals .mealsListContainer ul .listItemMeal .meal-form input,
.meals .mealsListContainer ul .listItemMeal .meal-form button {
  padding: 0.5rem;
  border: 1px solid #ff5d88;
  border-radius: 5px;
}
.meals .mealsListContainer ul .listItemMeal .meal-form button {
  background-color: #ff5d88;
  color: #fff;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}