// color variables
$charcoal: #565f70;
$amber: #ffb74c;
$mint: #7cf3a0;
$fuchsia: #ff5d88;
$green: #01a601;
$blue: #11579b;

body {
  main {
    position: relative;

    .bg-image {
      min-height: 60vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .meals {
      background-color: $mint;
      padding: 2rem 0;
      color: $blue;

      .mealsInfo {
        text-align: center;
        margin-bottom: 1rem;
        padding: 2rem 0;

        h2 {
          margin: 0 0 2rem 0;
          color: $fuchsia;
          font-size: 1.7em;
          font-weight: 700;
        }
      }
    }
  }
}
